.footer-area {
    padding: 50px 0;
    background-color: #153e4d;
}
.footer-link ul {
    margin: 0;
    padding: 0;
}
.footer-link ul li {
    display: inline;
}
.footer-link ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.5s all;
}
.footer-link ul li a:hover {
    color: #fff;
}
.footer-link ul li:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.search-box input {
    background-color: #2d525f;
    border: none;
}
.search-box span {
    background-color: #2d525f;
    border: none;
    color: rgba(255, 255, 255, 0.5);
}
.copy-right p {
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}
.footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
.footer-social ul li {
    display: inline;
    margin-left: 10px;
}
.footer-social ul li .icon {
    display: inline-block;
    text-decoration: none;
    color: #6c98e0;
    padding: 10px;
}
