.delete-btn button {
    display: inline-block;
    padding: 10px 22px;
    background: red;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none !important;
    border-radius: 2px;
    border: 1px solid red;
}
.sidebar {
    background: #153e4d;
}
.sidebar select {
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid #cccccc;
    margin-bottom: 12px;
}
.add-item-btn {
    display: inline-block;
    padding: 10px 22px;
    background: #1bc743;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none !important;
    border-radius: 2px;
    border: 1px solid #1bc743;
}
.spin {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
