.presentation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.presentation ul li {
    display: inline-block;
    margin-left: 5px;
    padding: 12px 26px;
    font-weight: 500;
}
.presentation ul li.active {
    position: relative;
    background-color: #1bc744;
    color: #fff;
}
.presentation ul li.active::after {
    position: absolute;
    content: " ";
    display: inline-block;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 10px solid #1bc744;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.home-item .img {
    position: relative;
    overflow: hidden;
}
.home-item .img .speciality {
    position: absolute;
    right: -65px;
    left: unset;
    padding: 0 55px;
    top: 20px;
    width: 200px;
    height: 33px;
    line-height: 33px;
    transform: rotate(45deg);
    background-color: #1bc743;
    color: #fff !important;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: inherit;
}
.home-item .img img {
    width: 100%;
}
.home-model p {
    font-weight: bold;
}
.home-model p span {
    color: #1bc743;
}
.home-price {
    position: relative;
    background-color: #1bc744;
    color: #fff;
    padding: 2px 16px;
}
.home-price::before {
    position: absolute;
    content: " ";
    display: inline-block;
    right: 100%;
    top: 0;
    height: 100%;
    border-top: 50px solid transparent;
    border-left: 10px solid transparent;
    border-right: 12px solid #1bc744;
}
.home-price .regular {
    color: #000;
    text-decoration: line-through;
    line-height: 1em;
}
.home-price .normal {
    font-weight: bold;
}
.vehicle-condition ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.vehicle-condition ul li {
    color: #909090;
}
.vehicle-condition ul li .icon {
    margin-left: 8px;
}
.supplyer img {
    width: 100%;
}
.update-btn button,
.show-all-btn button {
    display: inline-block;
    padding: 10px 22px;
    background: #1bc743;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none !important;
    border-radius: 2px;
    border: 1px solid #1bc743;
}
